<div class="container job-show-container">
    <div class="job-title">
        <h2><strong><%= @job.title %></strong></h2>
        <h5><strong>Jobstancial</strong> - <%= @job.location %></h5>
        <br>
    </div>
    <div class="job-description">
        <p><strong>Jobstancial Worker Mission</strong></p>
        <p>At Jobstantial we employ more than 35,000 professionals throughout the world and we continiously offer job opportunities so that you always have them at your disposal. We are currently hiring a <%=@job.title%> in <%=@job.location%>.</p>
        <br>
        <h4><strong>Description</strong></h4>
        <p><%= @job.description %></p>
        <ul>
            <li>Contract duration: From <%= @job.start_date %> to <%= @job.end_date %></li>
            <br>
            <li>Required <%= @job.years_of_experience.to_i %> years of experience as a <%= @job.title %></li>
            <br>
            <li><%= @job.working_hours %></li>
            <br>
            <li>Salary: €<%= @job.salary %>/hour</li>
        </ul>
        <% if !user_signed_in? %>
            <div class = "apply-button"><%= link_to "Apply now", new_job_job_application_path(@job) %></div>
        <% else %>
            <% if !current_user.admin? %>
                <div class = "apply-button"><%= link_to "Apply now", new_job_job_application_path(@job) %></div>
            <% end %>
            <% if current_user.admin? %>
                <br>
                <%= render 'admins/candidates' %>
            <% end %>
        <% end %>
    </div>
    
</div>
