<div class="home-container">
    <div class="container">
        <h1>Welcome to <span class="blue">Jobstantial</span></h1>
        <h3>Jobstantial commits to find you consistent work with renowned companies for you to enjoy professional stability</h3>
        </div>

    <div class="container flex-container">
        <% if !user_signed_in? %>
            <%= link_to "Create your account", new_user_registration_path %>
            <%= link_to "Find Jobs", jobs_path %>
        <% else %>
            <% if current_user.admin? %>
                <%= link_to "Posted Jobs", jobs_path %>
                <%= link_to "Create a new Job", new_job_path %>
            <% else %>
                <%= link_to "Find Jobs", jobs_path %>
            <% end %>
        <% end %>
    </div>
</div>
    <div class="container flex-container">
        <div class="left-box">
            <h3><strong>Find the perfect job</strong></h3>
            <h4>Generate a stable income working in prestigious companies that search for professionals with expertise & experience like yours.</h4>
            <%= link_to "Get started >", jobs_path %>
        </div>
       <div class="right-box">
            <h3><strong>Professional growth</strong></h3>
            <h4>Each day, hundreds of companies post new openings in Jobstancial in every sector</h4>
            <%= link_to "Get started >", jobs_path %>
        </div>
    </div>

